{% extends 'base.html.twig' %}

{% block title %}
	Ajout d'un produit
{% endblock %}

{% block body %}
	<div class="my-6">
		<div class="max-w-2xl mx-auto bg-white p-8 rounded-xl shadow space-y-6">
			{% include './product/form.html.twig' %}
		</div>
	</div>
{% endblock %}
