<!DOCTYPE html>
<html>
	<body style="font-family: Arial, sans-serif; background:#f9fafb; padding:20px;">

		<div style="max-width:600px;margin:auto;background:#ffffff;border:1px solid #e5e7eb;border-radius:10px;padding:20px;">

			<h2 style="color:#111827; margin-bottom:20px;">
				📬 Demande de conatct
			</h2>

			<p>
				<strong>Nom :</strong>
				{{ data.name }}</p>
			<p>
				<strong>Email :</strong>
				{{ data.email }}</p>

			<hr style="margin:20px 0;">

			<p>
				<strong>Message :</strong>
			</p>

			<div style="background:#f3f4f6;padding:15px;border-radius:6px;white-space:pre-line;">
				{{ data.message }}
			</div>
		</div>

	</body>
</html>
